[Unit]
Description = Starting Check Certs Bot

[Service]
ExecStart = /usr/local/bin/check_certs_bot.py -c /var/spool/check_cers/check-certs.ini
Type=simple

[Install]
WantedBy = multi-user.target
