[Unit]
Description = Starting Check Certs Bot

[Service]
ExecStart = /usr/local/bin/check_certs_bot.py
Type=simple

[Install]
WantedBy = multi-user.target
