certifi 	# Just for a case. python-telegram-bot use it too
cryptography    # for DNSSEC
dnspython>=2.0.0        # after query() -> reslove() method renamed
ocsp-checker
pem
pyOpenSSL
python-telegram-bot==11.1.0
rpyc
